
# String and Dictionaries

python langauge really shines in the manipulation of strings. Now, in this session i will cover python's built in string methods and formatting operations.

## String Syntax
strings in python can be defined using either single or double quotations. They are functionally equivalent.

In [2]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

Double quotes are convenient if our string contains a single quote character.
similarly, we can create a string that contains double-quotes if we wrap it in single quotes

In [3]:
print("pluto's a planet!")
print('My dog is named "Pluto"')

pluto's a planet!
My dog is named "Pluto"

In [4]:
# if we put single quote character inside a single quoted string. python gets confused.
'Pluto's a planet!'

SyntaxError: unterminated string literal (detected at line 2) (1145595486.py, line 2)

In [5]:
# we can fix this by "escaping" the single quote with a backslash.
'pluto\'s a Planet!'

"pluto's a Planet!"

### some important uses of the backslash character

|what you type| what you get | example | print(example) |
|-------------|--------------|---------|----------------|
| \' | ' | 'what\'s up?' | what's up? |

 this is how we can create a table in the markdown of jupyter notebook

| What you type | What you get | Example                 | Output               |
|---------------|--------------|-------------------------|----------------------|
| `\'`          | `'`          | `'What\'s up?'`         | `What's up?`         |
| `\"`          | `"`          | `"That's \"cool\""`     | `That's "cool"`      |
| `\\`          | `\`          | `"Look, a mountain: /\\\\"` | `Look, a mountain: /\\` |
| `\n`          | *newline*    | `"1\n2 3"`              | `1` <br> `2 3`       |

In [6]:
# let's use newline character and see how it works

hello = "hello\n world"
print(hello)

hello
 world

In [10]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello
# it gives output False because in above hello we have a space after \n. so they are different

hello
world

False

The print() function automatically adds a newline character unless we specify a value for the keyword argument 'end' other than the default value of '\n'

In [11]:
print("hello")
print("world")
print("hello", end ='')
print("world", end='')

hello
world
helloworld

# Strings are sequences

In [12]:
#Indexing
planet = 'Pluto'
planet[0]

'P'

In [13]:
# Slicing
planet[-3::]

'uto'

In [14]:
# How long is String
len(planet)

5

In [15]:
# we can even loop over them
[ char +'!' for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

#### String and lists are different in some cases. Like String is immutable. we can't modify them.

In [16]:
planet[0] = 'B'

TypeError: 'str' object does not support item assignment

# String Methods

Like list, the type str has lots of very useful methods.

In [17]:
# ALL CAPS
claim = 'Pluto is a planet!'
claim.upper()

'PLUTO IS A PLANET!'

In [18]:
#all lower
claim.lower()

'pluto is a planet!'

In [19]:
# Searching for the first index of a substring
claim.index('plan')

11

In [20]:
claim.startswith(planet)

True

In [25]:
claim.index('Pluto')

0

In [27]:
claim.startswith(Pluto)

NameError: name 'Pluto' is not defined

In [28]:
# false because of missing exclamation mark
claim.endswith('planet')

False

## Going between strings and lists: `.split()` and `.join()`

####  str.split  
turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string 

to a list of words.

In [29]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

_If we want to split on something other than whitespace:_

In [36]:
datestr = '2059-02-11'
year, month, day = datestr.split('-')
# we are specifying the datestr by splitting them using '-' and year,month and day serially.

*`str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator._*

In [37]:
'/'.join([month, day, year])

'02/11/2059'

In [39]:
# we can put unicode characters right in our string literals 
' ðŸ¤” '.join([word.upper() for word in words])

'PLUTO ðŸ¤” IS ðŸ¤” A ðŸ¤” PLANET!'

<font size =3>**Building strings** with .format()\
python lets us concatenate srings with the `+` operator. </font>

In [41]:
planet + ', we miss you.'
# while creating claim we already specify first string as pluto to planet

'Pluto, we miss you.'

<font size="3">If we want to throw in any non-string objects, we have to be careful to call str() on them first.</font>

In [42]:
position = 9
planet + ", you'll always be the " + position + "th planet to me."

TypeError: can only concatenate str (not "int") to str

In [43]:
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

<font size="3"> This is getting hard to read and annoying to type. `str.format()` to the rescue.</font>

In [44]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

<font size="3"> We can do alot more than this. Here it is: </font>

In [45]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 plutonians."

In [46]:
# Referring to format() arguments by inde, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet','dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

# Dictionaries

Dictionaries are a built-in python data structures for mapping kays to values.

In [3]:
numbers = {'one':1, 'two':2, 'three':3}

<font size="3"> values are accessed via square bracket syntax similar to indexing into lists and strings.</font>

we can use below syntax to add new pair of key and value:

In [4]:
numbers['eleven']= 11

In [5]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

we can access via square bracket syntax similar to indexing into lists and strings.

In [6]:
numbers['one']

1

Or to change the value associated with an existing key

In [7]:
numbers['one']=['pluto']

In [8]:
numbers

{'one': ['pluto'], 'two': 2, 'three': 3, 'eleven': 11}

_Python has dictionary comprehensions with a syntax similar to the list comprehensions_

In [9]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

<font size="3">The `in` operator tells us whether something is a key in the dictionery</font>

In [10]:
'Saturn' in planet_to_initial

True

<font size="3"> A `for` loop over a dictionery will loop over its keys</font>

In [11]:
for i in numbers:
    print("{} = {}".format(i, numbers[i]))

one = ['pluto']
two = 2
three = 3
eleven = 11

<font size="3"> we can access a collection of all the keys or all the values with `dict.keys()` and `dict.values()`, respectively. </font>

In [12]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

The very useful `dict.items()` method lets us iterate over the keys and values of a dictionary simultaneously.

In [14]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [15]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None